apiVersion: v1
kind: Service
metadata:
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: prometheus-k8s-thanos-sidecar-tls
  labels:
    app: thanos-sidecar
    prometheus: k8s
  name: prometheus-k8s-thanos-sidecar
  namespace: openshift-monitoring
spec:
  clusterIP: None
  ports:
  - name: thanos-proxy
    port: 10902
    targetPort: thanos-proxy
  selector:
    app: prometheus
    prometheus: k8s
