apiVersion: v1
data: {}
kind: Secret
metadata:
  labels:
    app.kubernetes.io/managed-by: cluster-monitoring-operator
    app.kubernetes.io/part-of: openshift-monitoring
  name: alertmanager-kube-rbac-proxy-web
  namespace: openshift-monitoring
stringData:
  config.yaml: |-
    "authorization":
      "resourceAttributes":
        "apiGroup": "monitoring.coreos.com"
        "name": "main"
        "namespace": "openshift-monitoring"
        "resource": "alertmanagers"
        "subresource": "api"
type: Opaque
