apiVersion: v1
kind: Service
metadata:
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: alertmanager-main-tls
  labels:
    alertmanager: main
    app.kubernetes.io/component: alert-router
    app.kubernetes.io/name: alertmanager
    app.kubernetes.io/part-of: openshift-monitoring
    app.kubernetes.io/version: 0.22.2
  name: alertmanager-main
  namespace: openshift-monitoring
spec:
  ports:
  - name: web
    port: 9094
    targetPort: web
  - name: tenancy
    port: 9092
    targetPort: tenancy
  - name: metrics
    port: 9097
    targetPort: metrics
  selector:
    alertmanager: main
    app.kubernetes.io/component: alert-router
    app.kubernetes.io/name: alertmanager
    app.kubernetes.io/part-of: openshift-monitoring
  sessionAffinity: ClientIP
  type: ClusterIP
