apiVersion: v1
kind: Secret
metadata:
  labels:
    app.kubernetes.io/managed-by: cluster-monitoring-operator
    app.kubernetes.io/name: alertmanager-user-workload
    app.kubernetes.io/part-of: openshift-monitoring
  name: alertmanager-kube-rbac-proxy
  namespace: openshift-user-workload-monitoring
stringData:
  config.yaml: |-
    "authorization":
      "resourceAttributes":
        "apiGroup": "monitoring.coreos.com"
        "name": "user-workload"
        "namespace": "openshift-user-workload-monitoring"
        "resource": "alertmanagers"
        "subresource": "api"
type: Opaque
