apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: alertmanager-user-workload
  namespace: openshift-user-workload-monitoring
spec:
  egress:
  - {}
  ingress:
  - ports:
    - port: tenancy
      protocol: TCP
    - port: metrics
      protocol: TCP
  podSelector:
    matchLabels:
      app.kubernetes.io/name: alertmanager
  policyTypes:
  - Ingress
  - Egress
