apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  labels:
    app.kubernetes.io/managed-by: cluster-monitoring-operator
    app.kubernetes.io/part-of: openshift-monitoring
  name: alertmanager-user-workload
  namespace: openshift-user-workload-monitoring
spec:
  egress:
  - {}
  ingress:
  - ports:
    - port: tenancy
      protocol: TCP
    - port: metrics
      protocol: TCP
  podSelector:
    matchLabels:
      app.kubernetes.io/name: alertmanager
  policyTypes:
  - Ingress
  - Egress
