apiVersion: v1
kind: Service
metadata:
  annotations:
    service.alpha.openshift.io/serving-cert-secret-name: openshift-state-metrics-tls
  labels:
    k8s-app: openshift-state-metrics
  name: openshift-state-metrics
  namespace: openshift-monitoring
spec:
  clusterIP: None
  ports:
  - name: https-main
    port: 8443
    targetPort: https-main
  - name: https-self
    port: 9443
    targetPort: https-self
  selector:
    k8s-app: openshift-state-metrics
