apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/managed-by: cluster-monitoring-operator
    app.kubernetes.io/name: prometheus-operator
    app.kubernetes.io/part-of: openshift-monitoring
    app.kubernetes.io/version: 0.79.2
  name: prometheus-operator
  namespace: openshift-user-workload-monitoring
spec:
  endpoints:
  - bearerTokenFile: ""
    honorLabels: true
    port: https
    scheme: https
    tlsConfig:
      insecureSkipVerify: false
      serverName: prometheus-operator.openshift-user-workload-monitoring.svc
  scrapeClass: tls-client-certificate-auth
  selector:
    matchLabels:
      app.kubernetes.io/component: controller
      app.kubernetes.io/name: prometheus-operator
      app.kubernetes.io/part-of: openshift-monitoring
      app.kubernetes.io/version: 0.79.2
