apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
    app.kubernetes.io/managed-by: cluster-monitoring-operator
    app.kubernetes.io/part-of: openshift-monitoring
  name: monitoring-alertmanager-edit
  namespace: openshift-monitoring
rules:
- apiGroups:
  - monitoring.coreos.com
  resourceNames:
  - non-existant
  resources:
  - alertmanagers
  verbs:
  - patch
- apiGroups:
  - monitoring.coreos.com
  resourceNames:
  - main
  resources:
  - alertmanagers/api
  verbs:
  - '*'
