apiVersion: v1
kind: Route
metadata:
  labels:
    app.kubernetes.io/part-of: openshift-monitoring
  name: federate
  namespace: openshift-user-workload-monitoring
spec:
  path: /federate
  port:
    targetPort: federate
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: Reencrypt
  to:
    kind: Service
    name: prometheus-user-workload
