apiVersion: v1
data: {}
kind: Secret
metadata:
  labels:
    app.kubernetes.io/part-of: openshift-monitoring
  name: kube-rbac-proxy-federate
  namespace: openshift-user-workload-monitoring
stringData:
  config.yaml: |-
    "authorization":
      "resourceAttributes":
        "apiVersion": "v1"
        "resource": "namespaces"
        "verb": "get"
type: Opaque
