apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app.kubernetes.io/component: prometheus
    app.kubernetes.io/instance: user-workload
    app.kubernetes.io/managed-by: cluster-monitoring-operator
    app.kubernetes.io/name: prometheus
    app.kubernetes.io/part-of: openshift-monitoring
    app.kubernetes.io/version: 3.6.0
  name: prometheus-user-workload
  namespace: openshift-user-workload-monitoring
spec:
  endpoints:
  - bearerTokenFile: ""
    interval: 30s
    port: metrics
    scheme: https
    tlsConfig:
      insecureSkipVerify: false
      serverName: prometheus-user-workload.openshift-user-workload-monitoring.svc
  scrapeClass: tls-client-certificate-auth
  selector:
    matchLabels:
      app.kubernetes.io/component: prometheus
      app.kubernetes.io/instance: user-workload
      app.kubernetes.io/name: prometheus
      app.kubernetes.io/part-of: openshift-monitoring
