apiVersion: v1
data: {}
kind: Secret
metadata:
  labels:
    app.kubernetes.io/name: thanos-ruler
  name: thanos-ruler-alertmanagers-config
  namespace: openshift-user-workload-monitoring
stringData:
  alertmanagers.yaml: |-
    "alertmanagers":
    - "api_version": "v2"
      "http_config":
        "bearer_token_file": "/var/run/secrets/kubernetes.io/serviceaccount/token"
        "tls_config":
          "ca_file": "/etc/prometheus/configmaps/serving-certs-ca-bundle/service-ca.crt"
          "server_name": "alertmanager-main.openshift-monitoring.svc"
      "scheme": "https"
      "static_configs":
      - "dnssrv+_web._tcp.alertmanager-operated.openshift-monitoring.svc"
type: Opaque
