apiVersion: v1
data: {}
kind: Secret
metadata:
  labels:
    app.kubernetes.io/name: thanos-ruler
  name: thanos-ruler-query-config
  namespace: openshift-user-workload-monitoring
stringData:
  query.yaml: |-
    - "http_config":
        "bearer_token_file": "/var/run/secrets/kubernetes.io/serviceaccount/token"
        "tls_config":
          "ca_file": "/etc/prometheus/configmaps/serving-certs-ca-bundle/service-ca.crt"
          "server_name": "thanos-querier.openshift-monitoring.svc"
      "scheme": "https"
      "static_configs":
      - "thanos-querier.openshift-monitoring.svc:9091"
type: Opaque
