apiVersion: v1
kind: Service
metadata:
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: thanos-ruler-tls
  labels:
    app.kubernetes.io/component: rule-evaluation-engine
    app.kubernetes.io/instance: thanos-ruler
    app.kubernetes.io/name: thanos-rule
    app.kubernetes.io/part-of: openshift-monitoring
    app.kubernetes.io/version: 0.23.1
  name: thanos-ruler
  namespace: openshift-user-workload-monitoring
spec:
  ports:
  - name: web
    port: 9091
    targetPort: web
  - name: grpc
    port: 10901
    targetPort: grpc
  selector:
    app.kubernetes.io/name: thanos-ruler
    thanos-ruler: user-workload
  sessionAffinity: ClientIP
  type: ClusterIP
