apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: thanos-ruler
  namespace: openshift-user-workload-monitoring
spec:
  groups:
  - name: thanos-rule.rules
    rules:
    - alert: ThanosRuleQueueIsDroppingAlerts
      annotations:
        message: Thanos Rule {{$labels.job}} {{$labels.pod}} is failing to queue alerts.
      expr: |
        sum by (job) (rate(thanos_alert_queue_alerts_dropped_total{job="thanos-ruler"}[5m])) > 0
      for: 5m
      labels:
        severity: critical
    - alert: ThanosRuleSenderIsFailingAlerts
      annotations:
        message: Thanos Rule {{$labels.job}} {{$labels.pod}} is failing to send alerts
          to alertmanager.
      expr: |
        sum by (job) (rate(thanos_alert_sender_alerts_dropped_total{job="thanos-ruler"}[5m])) > 0
      for: 5m
      labels:
        severity: critical
    - alert: ThanosRuleHighRuleEvaluationFailures
      annotations:
        message: Thanos Rule {{$labels.job}} {{$labels.pod}} is failing to evaluate
          rules.
      expr: |
        (
          sum by (job) (rate(prometheus_rule_evaluation_failures_total{job="thanos-ruler"}[5m]))
        /
          sum by (job) (rate(prometheus_rule_evaluations_total{job="thanos-ruler"}[5m]))
        * 100 > 5
        )
      for: 5m
      labels:
        severity: warning
    - alert: ThanosRuleHighRuleEvaluationWarnings
      annotations:
        message: Thanos Rule {{$labels.job}} {{$labels.pod}} has high number of evaluation
          warnings.
      expr: |
        sum by (job) (rate(thanos_rule_evaluation_with_warnings_total{job="thanos-ruler"}[5m])) > 0
      for: 15m
      labels:
        severity: info
    - alert: ThanosRuleRuleEvaluationLatencyHigh
      annotations:
        message: Thanos Rule {{$labels.job}}/{{$labels.pod}} has higher evaluation
          latency than interval for {{$labels.rule_group}}.
      expr: |
        (
          sum by (job, pod, rule_group) (prometheus_rule_group_last_duration_seconds{job="thanos-ruler"})
        >
          sum by (job, pod, rule_group) (prometheus_rule_group_interval_seconds{job="thanos-ruler"})
        )
      for: 5m
      labels:
        severity: warning
    - alert: ThanosRuleGrpcErrorRate
      annotations:
        message: Thanos Rule {{$labels.job}} is failing to handle {{ $value | humanize
          }}% of requests.
      expr: |
        (
          sum by (job) (rate(grpc_server_handled_total{grpc_code=~"Unknown|ResourceExhausted|Internal|Unavailable|DataLoss|DeadlineExceeded", job="thanos-ruler"}[5m]))
        /
          sum by (job) (rate(grpc_server_started_total{job="thanos-ruler"}[5m]))
        * 100 > 5
        )
      for: 5m
      labels:
        severity: warning
    - alert: ThanosRuleConfigReloadFailure
      annotations:
        message: Thanos Rule {{$labels.job}} has not been able to reload its configuration.
      expr: avg(thanos_rule_config_last_reload_successful{job="thanos-ruler"}) by
        (job) != 1
      for: 5m
      labels:
        severity: info
    - alert: ThanosRuleQueryHighDNSFailures
      annotations:
        message: Thanos Rule {{$labels.job}} have {{ $value | humanize }}% of failing
          DNS queries for query endpoints.
      expr: |
        (
          sum by (job) (rate(thanos_ruler_query_apis_dns_failures_total{job="thanos-ruler"}[5m]))
        /
          sum by (job) (rate(thanos_ruler_query_apis_dns_lookups_total{job="thanos-ruler"}[5m]))
        * 100 > 1
        )
      for: 15m
      labels:
        severity: warning
    - alert: ThanosRuleAlertmanagerHighDNSFailures
      annotations:
        message: Thanos Rule {{$labels.job}} have {{ $value | humanize }}% of failing
          DNS queries for Alertmanager endpoints.
      expr: |
        (
          sum by (job) (rate(thanos_ruler_alertmanagers_dns_failures_total{job="thanos-ruler"}[5m]))
        /
          sum by (job) (rate(thanos_ruler_alertmanagers_dns_lookups_total{job="thanos-ruler"}[5m]))
        * 100 > 1
        )
      for: 15m
      labels:
        severity: warning
